a {
    color: white;
}
.navbar,.xx {
    background: #060603!important;
}
a:hover {
    color: hotpink;
}

.active{
    color:hotpink;
    text-decoration:underline;
}
.grid-view {
    width: 100% !important;
    /*overflow-x: scroll !important;*/
}
.title{
    background:#060603;
    color:hotpink;
    text-align:center;
}
.content {
    background: hotpink;
    color: #060603;
    font-weight: bold;
    text-align: center;
}